.shop-container {
    display: flex;
}
.product-container{
    width:75%;
    margin-left:150px;
    margin-right: 5px;
    border-right: 1px solid lightgray;
}
.cart-container {
    margin-left: 5px;
    margin-right: 5px;
    width: 25%;
}
